
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET_NAME=
CORS_ORIGINS=http://localhost:3000

EMAIL_HOST=
EMAIL_PORT=
EMAIL_SENDER_MAIL=
EMAIL_SENDER_PASSWORD=
EMAIL_USERNAME=
JWT_SECRET=secretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecretsecret
MONGODB_URI=

PORT=8081
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_TLS=true
REDIS_URL=

STRIPE_API_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

APPID=
SERVER_SECRET=
ZEGOCLOUD_DOMAIN=https://cloudrecord-api.zego.im
ZEGOCLOUD_S3_BUCKET_NAME=
ZEGOCLOUD_S3_ACCESS_KEY_ID=
ZEGOCLOUD_S3_SECRET_ACCESS_KEY=
ZEGOCLOUD_S3_AWS_REGION=
ZEGOCLOUD_RECORDING_OUTPUT_DIR=
ZEGOCLOUD_RECORDING_OUTPUT_FORMAT=mp4
ZEGOCLOUD_RECORDING_CALLBACK_URL=
ZEGOCLOUD_CALLBACK_SECRET=